# macOS
.DS_Store

# Ruby Bundler
.bundle/

# cocoapods-generate
gen/

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# CocoaPods
Pods/
gen/

# Xcode
xcuserdata/

# Tuist
/Derived
/Samples/Derived
/Samples/Tutorial/Derived
/Samples/*.xcodeproj
/Samples/*.xcworkspace
/*.xcodeproj

# ios-snapshot-test-case Failure Diffs
FailureDiffs/
