# macOS
.DS_Store

# Ruby Bundler
.bundle/

# cocoapods-generate
gen/

# Swift Package Manager
.build/
Package.resolved
.swiftpm/

# CocoaPods
Pods/
gen/

# Xcode
xcuserdata/

# Sample workspace
SampleApp.xcworkspace

# XcodeGen
Workflow.xcodeproj/
/TestingSupport/AppHost/App/Info.plist

# ios-snapshot-test-case Failure Diffs
FailureDiffs/

Samples/**/*Info.plist
!Samples/Tutorial/AppHost/Configuration/Info.plist
!Samples/Tutorial/AppHost/TutorialTests/Info.plist
!Samples/AsyncWorker/AsyncWorker/Info.plist
