<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Kind</key>
	<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>
	<key>Platforms</key>
	<array>
		<string>com.apple.platform.iphoneos</string>
	</array>
	<key>Options</key>
	<array>
		<dict>
			<key>Identifier</key>
			<string>productName</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Name:</string>
			<key>Description</key>
			<string>The name of the workflow to create. &quot;Workflow&quot; will be appended to the name.</string>
			<key>Type</key>
			<string>text</string>
			<key>Default</key>
			<string>HelloWorld</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>generateWorker</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Also create a Worker</string>
			<key>Description</key>
			<string>Workers define a unit of asynchronous work</string>
			<key>Type</key>
			<string>checkbox</string>
			<key>Default</key>
			<string>false</string>
		</dict>
		<dict>
			<key>Identifier</key>
			<string>streamType</string>
			<key>Required</key>
			<true/>
			<key>Name</key>
			<string>Uses:</string>
			<key>Description</key>
			<string>Whether to use RxSwift or ReactiveSwift</string>
			<key>Type</key>
			<string>popup</string>
			<key>Default</key>
			<string>RxSwift</string>
			<key>RequiredOptions</key>
			<dict>
				<key>generateWorker</key>
				<array>
					<string>true</string>
				</array>
			</dict>
			<key>Values</key>
			<array>
				<string>RxSwift</string>
				<string>ReactiveSwift</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
