name: Swift CI

on:
  push:
    branches:
      - main
  pull_request:

env:
  XCODE_VERSION: 15.1
  IOS_DESTINATION: platform=iOS Simulator,OS=17.2,name=iPad (10th generation)
  TUIST_TEST_DEVICE: iPad (10th generation)
  TUIST_TEST_PLATFORM: iOS
  TUIST_TEST_OS: 17.2

jobs:
  development-tests:
    runs-on: macos-latest

    strategy:
      matrix:
        scheme:
        - UnitTests
        - SnapshotTests

    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2

    - name: Switch Xcode
      run: sudo xcode-select -s /Applications/Xcode_${XCODE_VERSION}.app

    - name: Install dependencies
      run: tuist install --path Samples

    - name: Test iOS
      run: tuist test --path Samples ${{ matrix.scheme }}

  package-tests:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4

    - name: Switch Xcode
      run: sudo xcode-select -s /Applications/Xcode_${XCODE_VERSION}.app

    # Command line swift runs on the host platform.
    # On macOS we can run all tests, including macro tests.
    - name: Test macOS
      run: swift test

  tutorial:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2

    - name: Switch Xcode
      run: sudo xcode-select -s /Applications/Xcode_${XCODE_VERSION}.app

    - name: Install dependencies
      run: tuist install --path Samples/Tutorial

    - name: Tutorial App
      run: tuist test --path Samples/Tutorial TutorialTests

  documentation-lint:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v4
    - uses: jdx/mise-action@v2

    - name: Switch Xcode
      run: sudo xcode-select -s /Applications/Xcode_${XCODE_VERSION}.app

    - name: Install sourcedocs
      run: brew install sourcedocs

    - name: Swiftdocs
      run: |
        .buildscript/build_swift_docs.sh ${{ runner.temp }}/swiftdocs

  check-macro-compatibility:
    name: Check Macro Compatibility
    runs-on: macos-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        
      - name: Run Swift Macro Compatibility Check
        uses: Matejkob/swift-macro-compatibility-check@v1
        with:
          run-tests: false
          major-versions-only: true
